body {
  font-family: 'Lato';
  font-weight: 300;
  font-size: 1.2em;
  margin-left: 100px;
  background-color: #ecffaf;
}

button {
  background: orange;
  color: white;
  margin: 5px;
  padding: 10px;
  border-radius: 4px;
  font-family: 'Lato';
  cursor: pointer;
  border: none;
  outline: none;
}

button:hover {
  background: blue;
}

.square {
  pointer-events: none;
  position: relative;
  opacity: .5;
  width: 20px;
  height: 20px;
  margin: 2px;
  background-color: blue;
  display: inline-block;
  z-index: 1;
}

.rectangle {
  pointer-events: none;
  position: absolute;
  opacity: .2;
  width: 30px;
  height: 50px;
  margin: 2px;
  background-color: blue;
  display: inline-block;
  z-index: 0;
}

.white {
  background: white;
}

.red {
  background: red;
}

.blank {
  background: transparent;
}

.controls {
  margin-top: 250px;
}